@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');

body {
  font-family: 'Sriracha', cursive;
  background: url('../img/bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

nav {
  padding: 1rem;
  background: #222;
  color: #fff;
}

nav a {
  color: #fff;
}

nav span.nav-title {
  font-size: 1.8em;
}

nav ol {
  display: inline-block;
}

nav ol ul {
  display: inline-block;
}

div.container {
  background: #000000cc;
  color: #fff;
  padding: 1.4rem;
  margin: 0;
}

div.section {
  padding-bottom: 2.4rem;
}

img.img-right {
  float: right;
}

.clearfix:after { 
  content: "."; 
  visibility: hidden; 
  display: block; 
  height: 0; 
  clear: both;
}

@media (min-width: 576px) {  }

@media (min-width: 768px) {  }

@media (min-width: 992px) {  }

@media (min-width: 1200px) { 
  div.container {
    margin: 0 auto;
    max-width: 800px;  
  }
}