@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400&display=swap');

html {
  font-size: 1.4em;
}
body {
  font-weight: 200;
  font-family: 'Source Sans Pro';
  background: url('../img/bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
  padding-top: 1rem;
  padding-left: 1rem;
  line-height: 3rem;
  font-weight: 100;
}

p.side-note {
  font-size: 1rem;
  font-style: italic;
}

nav {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  background: #222;
  color: #fff;
}

nav .menu-content {
  max-height: 0;
  overflow: hidden;
}

nav input:checked ~ .menu-content {
  max-height: 100%;
}

nav input:checked + label {
  background-image: url();
}

nav input:checked ~ label {
  background-image: url();
}

nav input label {
  
  cursor: context-menu;
}

input#menu {
  display: none;
}

nav img.logo {
  width: 4rem;
  height: 4rem;
  vertical-align: top;
  padding: 0;
  margin: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav span.nav-title {
  font-size: 1.8em;
}

nav ol {
  flex-grow: 3;
  margin: 0;
  padding: 1rem;  
}

nav ol ul {
  display: block;
  padding: 1rem;
  text-align: right;
}

div.container {
  background: #000000cc;
  color: #fff;
  padding: 0;
  font-size: 1.4rem;
  margin: 0;
}

div.section {
  padding: 0 1rem;
  text-align: center;
  display: flex;
  flex-direction: flow;
  flex-wrap: wrap;
}

div.panel {
  font-size: 1.5rem;
}

.bg-black {
  background: #000;
}


.bg-grey {
  background: #222;
}

div.panel-full {
  width: 100%;
}

img.album-cover {
  height: 300px;
  width: 300px;
}

img.polaroid {
  width: 180px;
}

img.icon-social {
  width: 100px;
  padding: 0.5rem 1rem;
}

/* shows */
div.section#shows {
  flex-wrap: wrap !important;
}

div#official-shows div.show {
  display: flex;
  flex-direction: flow;
  border: 1px solid #fff;
  margin-bottom: 0.5rem;
}

div#official-shows div.show div.show-date {
  padding: 1rem;
  background: #fff;
  color: #000;
  font-weight: 800;
  text-align: center;
}

div#official-shows div.show div.show-info {
  padding: 1rem;
}

div#official-shows div.show div.show-info span {
  display: block;
}

div.show div.show-info span.show-venue {
  font-size: 2rem;
  font-weight: 400;
}

div.show div.show-info span.show-title {
  font-size: 1rem;
  margin-bottom: 1rem;
}

div.show-info span.show-time, div.show-info span.show-price, div.show-info span.show-notes {
  text-align: center;
}

div.show-info span.show-price {
  font-size: 1.2rem;
}

div.show-info span.show-notes {
  font-size: 1rem;
}
/*********/

@media (min-width: 576px) {  
  h1 {color: red;}
}

@media (min-width: 768px) { 
  nav img.logo {
    width: 5rem;
    height: 5rem;
  }
  
  nav a {
    text-decoration: none;
  }
  
  nav span.nav-title {
    font-size: 1.8em;
  }
  
  nav ol {
  }
  
  nav ol ul {
    display: inline-block;
  }
}

@media (min-width: 992px) { 
  div.container {
    margin: 0 auto;
    max-width: 850px;  
  }
}

@media (min-width: 1200px) { 
  div.container {
    margin: 0 auto;
    max-width: 900px;  
  }

  div.section {
    flex-wrap: nowrap;
  }

  div.panel.main-content {
    flex-grow: 2;
    padding: 0.2rem;
  }

  div.panel.main-content p {
    padding: 0.2rem;
  }

  img.album-cover {
    height: 300px;
    width: 300px;
  }
  
  img.polaroid {
    width: 180px;
  }

  img.icon-social {
    width: 80px;
    padding: 0.5rem 1rem;
  }

  #official-shows {
    width: 600px;
    margin: 0 auto;
  }

  /* shows */
  div#official-shows div.show div.show-date {
  }

  div#official-shows div.show div.show-info {
    flex-grow: 4;
  }


  /*********/
}